body{
  /* font-size: large; */
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
  background-color: brown;
  width: fit-content;
  padding:20px 0px;
  border-radius: 8%;
  overflow: hidden;
  max-height: 0px;
}
a{
  height: 30px;
  text-decoration: none;
  padding: 5px 25px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.to-hide{
  opacity: 0;
  pointer-events: none;
}
a:hover{
  background-color: rgb(170, 15, 15);
}

.wrapper.transitioned{
  /* transition: 5s; */
  transition: max-height 0.8s;
  transition-timing-function: ease-in-out;
  max-height: 500px;
  /* background-color: aqua; */
  /* margin-left: 50% */
  /* opacity: 0.5; */
}